{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2019",
    "keepClassNames": true,
    "baseUrl": "./src",
    "paths": {
      "services/*": ["shared/services/*"],
      "browser-services/*": ["browser/services/*"],
      "browser-components/*": ["browser/components/*"],
      "browser-hooks/*": ["browser/hooks/*"],
      "browser-styles/*": ["browser/styles/*"],
      "project-root/*": ["../*"],
      "neo4j-arc/graph-visualization": ["neo4j-arc/graph-visualization"],
      "neo4j-arc/common": ["neo4j-arc/common"],
      "neo4j-arc/cypher-language-support": ["neo4j-arc/cypher-language-support"],
      "icons/*": ["browser/icons/*"]
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
